﻿@model WebPoje.Models.Kisiler
@{
    ViewBag.Title = "Sign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/all.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Üye Ol</div>
            <div class="card-body">
                @Html.ValidationSummary(true)
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", id = "firstName", placeholder = "Adınız", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
                                    <label for="firstName">Adınız</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", id = "lastName", placeholder = "Soyadınız" })
                                    @Html.ValidationMessageFor(x => x.Soyad, "", new { @class = "text-danger" })
                                    <label for="lastName">Soyadınız</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(x => x.KullanıcıAdı, new { @class = "form-control", id = "user", placeholder = "Kullanıcı Adınız" })
                            @Html.ValidationMessageFor(x => x.KullanıcıAdı, "", new { @class = "text-danger" })
                            <label for="user">Kullanıcı Adı</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "inputEmail", placeholder = "Eposta Adresin" })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                            <label for="inputEmail">Eposta Adresin</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", id = "inputPassword", placeholder = "Şifreniz" })
                                    @Html.ValidationMessageFor(x => x.Sifre, "", new { @class = "text-danger" })
                                    <label for="inputPassword">Şifre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(x => x.SifreTekrar, new { @class = "form-control", id = "confirmPassword", placeholder = "Şifre(Tekrar)nız" })
                                    @Html.ValidationMessageFor(x => x.SifreTekrar, "", new { @class = "text-danger" })
                                    <label for="confirmPassword">Şifre Tekrar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Üye Ol" />

                </form>
                <div class="text-center" style="bottom:0px">
                    @Html.ActionLink("Giriş Yap", "Login", "Home", null, new { @class = "d-block small mt-3" })
                    @Html.ActionLink("Şifremi Unuttum!", "SifreHatirlama", "Home", null, new { @class = "d-block small" })
                </div>
            </div>
        </div>
    </div>

}

